body {
    margin: 0;
    padding: 10px;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
  }
  
  header {
      text-align: center;
  }
  main {
    /* margin: 0 auto; */
    justify-content: center;
    display: grid;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four";
    gap: 20px;
    inline-size: 90%;
    margin-left: 5%;
  }
  
  main > * {
    background-color: #fff;
    
  }

  .card{
      width: 200px;
      height: 150px;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 2px 2px 25px hsla(234, 12%, 34%, 0.572);
  }
  
  .one {
    border-top: solid 5px hsl(180, 62%, 55%);
    grid-area: one;
  }
  
  .two {
    border-top: solid 5px hsl(0, 78%, 62%);
    grid-area: two;
  }
  
  .three {
    border-top: solid 5px hsl(34, 97%, 64%);
    grid-area: three;
  }
  
  .four {
    border-top: solid 5px hsl(212, 86%, 64%);
    grid-area: four;
  }
  @media (min-width: 400px) {
    main {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      ". two ."
      "one two three"
      "one four three"
      ". four .";
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    inline-size: 80%;
  }
  }